{% extends "layout.html" %}

{% block title %}Blood available{% endblock %}

{% block content %}


<div class="stock">  

  {% with item = blood_stock['A+'] or None %}
  <div class="a-positive {{ item['level'] }}">
    <span>A+</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['B+'] or None %}
  <div class="b-positive {{ item['level'] }}">
    <span>B+</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['AB+'] or None %}
  <div class="ab-positive {{ item['level'] }}">
    <span>AB+</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['O+'] or None %}
  <div class="o-positive {{ item['level'] }}">
    <span>O+</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['A-'] or None %}
  <div class="a-negative {{ item['level'] }}">
    <span>A-</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['B-'] or None %}
  <div class="b-negative {{ item['level'] }}">
    <span>B-</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['AB-'] or None %}
  <div class="ab-negative {{ item['level'] }}">
    <span>AB-</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}

  {% with item = blood_stock['O-'] or None %}
  <div class="o-negative {{ item['level'] }}">
    <span>O-</span>
    <span>{{ item['amount'] or 0 }}</span>
  </div>
  {% endwith %}
</div>

<h1>Blood requests</h1>
<div class="dashboard">
  <div class="pending">
    Pending:
    {{ blood_request_status_and_amounts['Pending'] or 0 }}
  </div>
  <div class="aproved">
    Aproved:
    {{ blood_request_status_and_amounts['Aproved'] or 0 }}
  </div>
  <div class="rejected">
    Rejected:
    {{ blood_request_status_and_amounts['Rejected'] or 0 }}
  </div>
</div>

{% endblock %}