{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_button %}

{% block title %}Add new blood request{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-fields">
        {{ render_field(form.patient_first_name) }}
        {{ render_field(form.patient_last_name) }}
        {{ render_field(form.abo_rh) }}
        {{ render_field(form.units) }}
    </div>
    <div class="form-buttons">
        {{ render_button('Add') }}
        <a class="cancel-button" href="{{ url_for('create_blood_request') }}">Cancel</a>
    </div>
</form>
{% endblock %}