{% extends "layout.html" %} 
{% from "_macros.html" import render_field, render_button %} 

{% block title %}Blood request{% endblock %} 

{% block content %}

{% if current_user.is_physician() %}
<a class="create-button" href="{{ url_for('create_blood_request') }}">Add new</a>
{% endif %}

<form method="GET">
    <div class="form-search">
        {{ render_field(form.name) }}
        {{ render_field(form.abo_rh) }}
        {{ render_button('Search') }}
    </div>
</form>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>ABO/Rh</th>
      <th>Units</th>
      <th>Doctor's name</th>
      <th>Request date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
    <tr>
      <td>{{ request.patient_first_name }}</td>
      <td>{{ request.patient_last_name }}</td>
      <td>{{ request.abo_rh }}</td>
      <td>{{ request.units }}</td>
      <td>{{ request.user.first_name + ' ' + request.user.last_name }}</td>      
      <td>{{ request.request_date.strftime('%Y-%m-%d') }}</td>
      <td>{{ request.status }}</td>
      <td>
        {% if request.status == 'Pending' %}
          <a href="{{ url_for('fulfill_blood_request', blood_request_id=request.id) }}">Fulfill</a>
        {% else %}
          <a href="{{ url_for('fulfill_blood_request', blood_request_id=request.id) }}">View</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
