form{
  max-width: 40%;
  display: block;
  margin: 2rem 16rem;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
  
}

.field {
  width: 100%;
  margin: .5rem 0;
}

label {
  display: block;
  margin-bottom: 2px;
  color: var(--red)
}

input,
select {
  width: 100%;
  outline: none;
  margin: 0;
  padding: .5rem;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
  
}

input:focus{
  background-color: var(--gray);
}

button{
  padding:0.5rem 1rem;
  margin: 2rem 7.9rem;
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 0.4rem;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button:hover{
  color: var(--red);
}


