.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem 0;
}

.form-search {
  display: grid;
  grid-template-columns: 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  align-items: end;
  margin: 2rem 0;
}

.form-login, .form-change-password {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 20rem;
}

.form-login button {
  margin-top: 1rem;
}

.field {
  width: 100%;
  margin: 0.5rem 0;
}

label {
  display: block;
  margin-bottom: 2px;
  color: var(--blue)
}

input,
select {
  width: 100%;
  outline: none;
  margin: 0;
  padding: .5rem;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
}

select{
  padding: 0.6rem;
}

/* .required::after{
  content: "*";
  color: var(--red);
} */

button, .cancel-button,
.create-button{
  padding:0.5rem 2rem;
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 0.4rem;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.cancel-button{
  margin-left: 1rem;
}

button:hover{
  color: var(--red);
}

.read-only input{
  background-color: var(--gray); 
}

