form{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}

.form-create-blood-request{
  grid-template-columns: 2fr 2fr 1fr 1fr;
}

.form-edit-user{
  grid-template-columns: 1fr 1fr;
}

.form-buttons{
  grid-column-start: 2;
  display: flex;
  align-items: center;
}

.field {
  width: 100%;
  margin: .5rem 0;
}

label {
  display: block;
  margin-bottom: 2px;
  color: var(--blue)
}

input,
select {
  width: 100%;
  outline: none;
  margin: 0;
  padding: .5rem;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 0.2rem;
}

select{
  padding: 0.6rem;
}

button, .cancel-button,
.create-button{
  padding:0.5rem 2rem;
  color: var(--white);
  border: 1px solid var(--blue);
  border-radius: 0.4rem;
  background-color: var(--blue);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 1.5rem;
}

button:hover{
  color: var(--red);
}

.read-only input{
  background-color: var(--gray);
  
}

