main>.content{
  /* background-color: aqua; */
}

main>.content>.stock{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 80px 80px;
  column-gap: 10px;
  row-gap: 15px;
  justify-content: center;
  margin-top: 3rem;
}

main>.content>.stock>.a-positive,
main>.content>.stock>.b-positive,
main>.content>.stock>.ab-positive,
main>.content>.stock>.o-positive,
main>.content>.stock>.a-negative,
main>.content>.stock>.b-negative,
main>.content>.stock>.ab-negative,
main>.content>.stock>.o-negative{
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main>.content>.dashboard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px;
  column-gap: 10px;
  justify-content: center;
  margin-top: 3rem;
}

main>.content>.dashboard>.pending,
main>.content>.dashboard>.aproved,
main>.content>.dashboard>.rejected{
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

