:root {
    /* Colors */
    --red: #fd666b;
    --blue: #515b73;
    --text: #3b5591; /*Change color for a tags*/
    --light-gray: #eaeaea; /*Read only*/
    --gray: #f8f5f5;
    --black: #000;
    --white: #f6f5fa;

    /* Font */

}

*,
*::before,
*::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* Para estilizar os títulos sem a influencia de h1,h2,... reset everything so we can build this things back in */
    /* font: inherit; */
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--red);
}

h4 {
    padding-bottom: 1rem;
}

html,
body {
    margin: 0;
    height: 100%;
    color: var(--blue);
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 7rem 1fr 80px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    background-color: #ddd;
    grid-area: footer;
}

.content {
    padding: 1rem 0;
    max-width: 1000px;
    margin: 0 auto;
}