:root {
    --red: #C12732;
    --green: #6ef7ae;
    --primary: #6E6075;
    --link-hover: #bf8b7f;
    --secondary: #fff8f8;
    --readonly:#E5DCDF;
    --background: #FCF5F0;
    --highlight-button: #4F4554;
}

*,
*::before,
*::after {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    border: 1px solid #6E6075;
    padding: 0.2rem 1.5rem;
    border-radius: 0.3rem;
    background-color: #6E6075;
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    background-color: var(--highlight-button);
    color: var(--secondary);
}

h1 {
    margin: 1rem 0;
}

html,
body {
    margin: 0;
    height: 100%;
    color: var(--primary);
    background-color: var(--background);
}

body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "header""main""footer";
    grid-template-rows: 7rem 1fr 80px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    text-align: center;
}

.content {
    padding: 5rem 0;
    max-width: 1000px;
    margin: 0 auto;
}

.flashes {
    padding: 0;
}

.flash-message{
    background-color: var(--green);
    color: var(--primary);
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem 0;
}

.flash-error{
    background-color: var(--red);
    color: var(--secondary);
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem 0;
}