{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_button %}

{% block title %}Edit user{% endblock %}

{% block content %}
<form method="POST">
    <div class="form-fields">
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        <span class="read-only">{{ render_field(form.email) }}</span> 
        <span class="read-only">{{ render_field(form.role) }}</span>
    </div>
    <div class="form-buttons">
        {{ render_button('Save') }}
        <a class=" cancel-button" href="{{ url_for('list_users') }}">Cancel</a>        
    </div>
</form>
{% endblock %}