{% macro render_button(text) %}
   <button>{{ text }}</button>
{% endmacro %}


{% macro render_field(field) %}
  <div class="field">
    
    {% if field.type != 'SubmitField' %}
    {{ field.label }}
    {% endif %}
    
    {{ field(**kwargs)|safe }}

    {% if field.errors %}
      <ul class=errors>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    
  </div>
{% endmacro %}


{% macro show_flashed_messages() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="flash-{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
{% endmacro %}