{% from "_macros.html" import render_field, show_flashed_messages %}
<!doctype html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        
        <div class="content">
            
            <div class="logo">
                <a href="{{ url_for('home') }}"><i class="bi bi-balloon-heart"></i></a>
            </div>

            {% if current_user.is_authenticated %}

            {% if current_user.is_admin() %}
            <nav class="navigation">
                <ul>
                    <li><a href="{{ url_for('list_users') }}">Users</a></li>
                    <li><a href="{{ url_for('list_donors') }}">Donors</a></li>
                    <li><a href="{{ url_for('list_blood_requests') }}">Blood requests</a></li>
                </ul>
            </nav>
            {% endif %}

            {% if current_user.is_physician() %}
            <nav class="navigation">
                 <li><a href="{{ url_for('list_blood_requests') }}">Blood requests</a></li>
            </nav>
            {% endif %}

            <div class="authenticated-user">
                <span>Welcome, {{ current_user.first_name }} ({{ current_user.role }})</span>
                <div class="authenticated-user-actions">
                    <a href="{{ url_for('change_password')}}">Change password</a>
                    <a href="{{ url_for('logout')}}">Logout</a>
                </div>                
            </div>
            {% endif %}

        </div>
    </header>
    <main>
        <div class="content">
            {{ show_flashed_messages() }}
            <h1>{{ self.title() }}</h1>
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="content">        
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> - Cláucia Cambruzzi - All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>