{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_button %}

{% block title %}Edit donor{% endblock %}

{% block content %}
<form method="POST">
    {{ render_field(form.first_name) }}
    {{ render_field(form.last_name) }}
    <span class="read-only">{{ render_field(form.abo_rh) }}</span> 
    {{ render_field(form.phone_number) }}
    {{ render_field(form.email) }}
    <div class="form-buttons">
        {{ render_button('Update') }}
        <a class="cancel-button" href="{{ url_for('list_donors') }}">Cancel</a>
    </div>
</form>
{% endblock %}