{% extends "layout.html" %} 
{% from "_macros.html" import render_field %} 

{% block title %}Donors{% endblock %} 

{% block content %}
<a href="{{ url_for('create_donor') }}">Create new</a>

<form method="POST">
    {{ render_field(form.name) }}
    {{ render_field(form.abo_rh) }}
    {{ render_field(form.submit) }}
</form>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>ABO/Rh</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Last donation date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for donor in donors %}
    <tr>
      <td>{{ donor.first_name }}</td>
      <td>{{ donor.last_name }}</td>
      <td>{{ donor.abo_rh }}</td>
      <td>{{ donor.phone_number }}</td>
      <td>{{ donor.email }}</td>
      <td>{{ donor.last_donation_date.strftime('%Y-%m-%d') }}</td>

      <td><a href="{{ url_for('edit_donor', donor_id=donor.id) }}">Edit</a></td>
      <td><a href="{{ url_for('create_donation', donor_id=donor.id)}}">Donate</a></td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
