{% extends "layout.html" %} 
{% from "_macros.html" import render_field, render_button %} 

{% block title %}Donors{% endblock %} 

{% block content %}
<a class="create-button" href="{{ url_for('create_donor') }}">Add new</a>

<form method="GET">
    <div class="form-search">
        {{ render_field(form.name) }}
        {{ render_field(form.abo_rh) }}
        {{ render_button('Search') }}
    </div>
</form>

{% if donors|length > 0 %}
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>ABO/Rh</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Last donation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for donor in donors %}
    <tr>
      <td>{{ donor.first_name }}</td>
      <td>{{ donor.last_name }}</td>
      <td>{{ donor.abo_rh }}</td>
      <td>{{ donor.phone_number }}</td>
      <td>{{ donor.email }}</td>
      <td>{{ donor.last_donation_date.strftime('%Y-%m-%d') if donor.last_donation_date is not none else 'None' }}</td>

      <td><a href="{{ url_for('edit_donor', donor_id=donor.id) }}">Edit</a></td>
      <td><a href="{{ url_for('create_donation', donor_id=donor.id)}}">Donate</a></td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="flash-error"> Request Not Found </p>
{% endif %}

{% endblock %}
